// base colors
$white: #ffffff;
$black: #000000;

// uu colors
$uu-black: #1C1616;
$uu-red: #CC0000;
$uu-ebony: #372C2C;
$uu-smoke: #F7F9FB;
$uu-slate: #847A7A;

// shades of gray
$gray: #585858;

// fonts
$ff-mont: "Montserrat", sans-serif;
$ff-open: "Open Sans", sans-serif;


// Media Query Beakpoints
$sm-width: 480px;
$md-width: 768px;
$lg-width: 992px;
